body {

    height: 100%;
    
    border: 10px solid black;

    margin: 0px;

    background-color: blueviolet;

}

header {

    display: flex;

    justify-content: space-around;

    background-color: blueviolet;

}

header h1 {

    font-weight: bold;

    font-size: 36px;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

header nav {

    display: flex;

}


header nav ul {

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    align-items: center;

    list-style: none;

}

header nav ul li a {

    padding: 10px 15px;

    font-weight: normal;

    font-size: 1.55vw;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    text-decoration: none;

    color: black;

}

/*Anoying Hero Section*/

.hero-image {

    display: flex;

    border: 5px solid black;

    justify-content: center;

    margin: auto;

}

.hero-image img {

    border: 5px solid black;

    display: flex;

    flex: auto;

    justify-content: center;

    min-height: auto;

    min-width: auto;

    flex-wrap: wrap;

}

.hunter {

    max-height: 50%;

    max-width: 50%;

    display: flex;

    flex: auto;

    flex-wrap: wrap;

}

.heart {

    max-height: 50%;

    max-width: 50%;

    display: flex;

    flex: auto;

    flex-wrap: wrap;


}

/*Main Content (introduction and Projects) Section*/

main {

    padding: 10px;

}

main h2 {

    text-align: center;

    font-size: xx-large;

}

main section p {

    font-size: 20px;

}

/* Projects Section*/

section {

    text-align: center;

    display: flex;

    flex: auto;

    justify-content: center;

    

}

Section div {

    display: flex;

    flex: auto;

    flex-wrap: wrap;

    background-color: black;

    border: 1px solid black;

    width: 50%;

    justify-content: space-around;

    padding: 20px;

    margin: 5px


}

section div a {

    display: flex;

    flex: auto;

    flex-wrap: wrap;

    background-color: azure;

    border: 1px solid black;

    width: 50%;

    justify-content: space-around;

    padding: 20px;

    margin: 5px

}

/*Footer Section*/

footer {

    text-align: center;

    padding: 10px;

    border-top: 10px solid black;

}
